<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PadaasML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div align="center">
      <h1> पाढे उजळणी  </h1>
    </div>

    <div align="center">
      <audio controls autoplay>
        <source src="{{ url_for('paadas') }}" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>

    <div align="center">
      <!-- hook up to UI -->
      <div class="box">{{ number|to_marathi }}</div> 
      <div class="sign"><span>×</span></div> 
      <div class="box">{{ times|to_marathi }}</div>
      <hr class="line">
      <div class="box answer">{{ answer|to_marathi }}</div>
    </div>

    <div align="center">
     <h2> उत्तर 
     <button id="recordButton"> <h2> द्या  </h2> </button>
     <button id="stopButton" disabled> <h2> तपासा </h2> </button>
     </h2>
    </div>

    <div align="center">
      <h3> गुण {{ correct|to_marathi }} / {{ total|to_marathi }} </h3>
    </div>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
